<Config>
    <WindowPosition>
        <X>743</X>
        <Y>264</Y>
        <Width>344</Width>
        <Height>308</Height>
    </WindowPosition>
    <Program>
        <PencilWidth>1</PencilWidth>
        <DrawColor>
            <Red>255</Red>
            <Green>128</Green>
            <Blue>64</Blue>
        </DrawColor>
        <KeyColor>
            <Red>0</Red>
            <Green>0</Green>
            <Blue>0</Blue>
        </KeyColor>
        <CircleRadius>25</CircleRadius>
        <Fullscreen>0</Fullscreen>
        <ShowPicture>1</ShowPicture>
        <PicturePosition>
            <X>19</X>
            <Y>15</Y>
        </PicturePosition>
        <PicturePath>c:/Test.png</PicturePath>
        <CrossPosition>
            <X>25</X>
            <Y>25</Y>
        </CrossPosition>
    </Program>
    <Camera>
        <AWB>1</AWB>
        <AGC>
            <Enable>1</Enable>
            <FrameSkip>3</FrameSkip>
        </AGC>
        <AES>
            <Enable>1</Enable>
            <FrameSkip>2</FrameSkip>
        </AES>
        <MirrorVer>0</MirrorVer>
        <MirrorHor>0</MirrorHor>
        <Contrast>0</Contrast>
        <Lum>19</Lum>
        <ColorMode>0</ColorMode>
    </Camera>
</Config>
